.App {
  text-align: center;
}

.game-board {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

.cell {
  background-color: #221c10;
}

.snake {
  background-color: #499e3e;
  border: 1px solid #33692c;
}
.fruit {
  background-color: #ff6347;
}
